.app {
    background: url(../images/logo.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 25%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 190px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;
}
