body {
}
.place {
    border:1px dashed #ddd;
    padding-top:10px;
}
    .place ul {
    width:100%;
    display:flex;
    }
    .place ul li {
    flex:1;
    width:20px;
    height:26px;
    border:1px dashed #666;
    border-radius:4px;
    float:left;
    margin-right:20px;
    background:#ddd;
    text-align:center;
    line-height:26px;
    cursor:pointer;
    }
        .place ul li.hover {
        background:#337ab7;
        color:#fff;
        }