/*public style*/

/*flaot、center start*/
/*左浮动 fl=float-left*/
.fl{float:left;}
/*右浮动 fr=float-right*/
.fr{float:right}
.clearfix:after{
	display:block; 
	content:"clear"; 
	height:0; 
	clear:both; 
	overflow:hidden; 
	visibility:hidden;
}
/*主体内容,居中显示*/
.main{width:1210px;margin:0 auto;}
/*end float、center*/

/*taage start*/
a{text-decoration:none;color:#000;}
ul li{list-style:none;}
em,i{font-style:normal;}
img{display:block;border:0;}
/*end taage*/


/*当浏览器小于主体内容宽度留白问题处理*/
@media screen and ( min-width:1210px){
}
a:focus{outline:none !important;
    outline-offset:0;}

#main .top{
    color:#f0ad4e;
    line-height:45px;
    border-bottom: 1px solid #f0ad4e;
    font-weight:600;
    padding-left: 20px;
}

/*时间控件样式控制*/
#my-startDate,#my-endDate{
    width:100px !important;
}