@model Dnc.MvcApp.ViewsModels.UserViewsModel   
@{
    Layout = "_Layout";
}

<h2 class="page-header"><font color="red">修</font><font color="orange">改</font><font color="violet">密</font><font color="sky blue">码</font></h2>

<form id="UpdatePassword" asp-controller="Account" asp-action="UpdatePassword"
      asp-route-returnurl="@ViewData["ReturnUrl"]"
      method="post" class="form-horizontal">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        @*<span class="fixie">
                            <h5 class="panel-title"><font color="red">修</font><font color="orange">改</font><font color="violet">密</font><font color="sky blue">码</font></h5>
                        </span>*@
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="原密码" name="OldPassword" type="password" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="新密码" name="password" type="password" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="确认新密码" name="ConfirmPassword" type="password" value="">
                                </div>

                                <input type="submit" value="修改" class="btn btn-lg btn-success btn-block" />

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </form>
@section Scripts {
    <script type="text/javascript">
  
    </script>
}


